
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "arvo"
}
body{
    line-height: 1.6;
    color:#333;
}
header{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(../assets/images/banner-bk.jpg);

}
.first-page{
  

}
  section{
    margin: auto;
  }
  .second-page{
    width: 0px;
    height: 3cqb;
    background-color:#00ffad;
    border-right: 99vw solid transparent;
    border-bottom: 15vw solid white;  }
  
