
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
        }

        
        /* Ejerciicio 2*/
        .menu-list {
            max-width: 600px;
            margin: 2rem auto;
        }

        .menu-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #d1d1d1;
            padding: 1rem;
            margin-bottom: 0.5rem;
        }

        .menu-item a {
            text-decoration: none;
            color: #333;
            background-color: #fffeff;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }

