
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
        }

        /*ejercicio 1*/
        .main-header {
            background-color: white;
            padding: 1rem 2rem;
        }

        .main-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }

        .logo {
            height: 40px;
        }

        .menu {
            display: flex;
            gap: 2rem;
            flex-grow: 1;
            justify-content: center;
        }

        .menu a {
            text-decoration: none;
            color: #666;
            cursor: pointer;
        }

        .language {
            display: flex;
            gap: 1rem;
        }

        .language a {
            text-decoration: none;
            color: white;
            background-color: #666;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }

        